<div class="container">
  <nav class="navbar">
    <nav class="top-navbar">
      <div class="grid-top-nav">
          <div class="logo-container">
            <img alt="logo">
          </div>
          <div class="btn-top-nav">
            <button class="btn-reg">Войти</button>
          </div>
      </div>
    </nav>
    <nav class="grid-container">
      <div class="grid">
        <div class="content-router-container">
          <ul class="items-routing">
            <div class="routing">
              <li><a>Пицца</a></li>
              <li><a>Закуски</a></li>
              <li><a>Напитки</a></li>
              <li><a>Контакты</a></li>
              <li><a>О нас</a></li>
            </div>
            <div class="basket-container">
              <app-modal-basket></app-modal-basket>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
</div>
