.basket {
  padding: 8px 20px;
  line-height: 24px;
  background-color: rgb(255, 105, 0);
  border: none;
  border-radius: 9999px;
  cursor: pointer;

}

.basket-link {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn-modal:hover {
  background-color: #527c82;
}

/* Модальное окно */
#modal-block {
  background-color: #f3f3f7;
  color: black;
  position: fixed;
  top:0;
  right:-50vw;
  width:50vw;
  height: 100vh;
  transition: all .5s;
  font-family: 'Raleway', sans-serif;
  z-index: 9;

}
#modal-block:target{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  right:0;
}

/* Заголовкии текст */
#modal-block h3{
  margin: 20px 0;
  font-size: 1.7em;
}
#modal-block p{
  width: 50%;
}

/* Кнопка закрыть */
.close-block{
  display: flex;
  position: absolute;
  left: 0px;
  padding: .5em;
  background-color: #fff;
  color: #527c82;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
}

.text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
